---
layout: default
title: Resume
link: resume
---

<main class="container content">
  <div class="row">
    <div class="col-md">
      {% include resume/about.html %}
      {% include resume/skills.html %}

      <div class="d-none d-md-block">
        {% include resume/references.html %}
      </div>
    </div>
    <div class="col-md">
      {% include resume/milestones.html %}

      <div class="d-md-none">
        {% include resume/references.html %}
      </div>
    </div>
  </div>
</main>
