@import "variables";

.content {
  margin-top: -5px;
}

.section-header {
  @include h1();
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 10px;
  border-bottom: 3px solid $primary-color;
}


.skill {
  margin-top: 20px;
  display: flex;

  &:first-of-type {
    margin-top: 0;
  }
}

.skill-details {
  flex: 1;
}

.skill-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.skill-name {
  @include h2();
}

.skill-level {
  // Set font-size to zero to remove any space between tags
  font-size: 0;
  max-width: 250px;
  margin-top: 2px;
}

.skill-level-bar {
  height: 10px;
  background-color: $primary-color;
  box-sizing: border-box;
  width: 9.6%;
  display: inline-block;

  &:nth-child(2n):not(:last-child) {
    margin-right: 1%;
  }
}


.milestone {
  margin-top: 30px;
  display: flex;

  &:first-of-type {
    margin-top: 0;
  }
}

.milestone-logo {
  margin-right: 10px;
  margin-top: 6px;
  width: 60px;
  height: 60px;
  text-align: center;
  flex-shrink: 0;

  img {
    height: 100%;
  }
}

.milestone-date {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.milestone-title {
  @include h2();
}

.milestone-company {
  @include h3();
}

.milestone-technologies {
  margin-top: 4px;
  // Set font-size to zero to remove any space between tags
  font-size: 0;
}

.milestone-technology {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  padding: 2px 8px 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.milestone-notes {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: -40px;
}

.milestone-note {
  margin-top: 5px;
}


.reference {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }
}

.reference-name {
  @include h2();
}

.reference-role {
  @include h3();
}

.reference-phone {
  display: block;
}
