@import "variables";

.content {
  //margin-top: -5px;
}

section {
  //break-inside: avoid;
}

.section-header {
  @include h1();
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 10px;
  border-bottom: 3px solid $primary-color;

  @media print {
    margin-top: 20px;
  }
}


.skill {
  page-break-inside: avoid;
  margin-top: 20px;
  display: flex;

  &:first-of-type {
    margin-top: 0;
  }
}

.skill-details {
  flex: 1;
}

.skill-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.skill-name {
  @include h2();
}

.skill-level {
  // Set font-size to zero to remove any space between tags
  font-size: 0;
  // Width is (250 - 16) because the bars have four, 4px gaps between them
  max-width: 234px;
  margin-top: 2px;
  white-space: nowrap;
}

.skill-level-bar {
  height: 10px;
  border: 2px solid $primary-color;
  box-sizing: border-box;
  width: 10%;
  display: inline-block;

  // Hide the right border on the first bar of each segment
  &:nth-child(2n+1) {
    border-right-width: 0;
  }

  // Hide the left border on the second bar of each segment
  &:nth-child(2n) {
    border-left-width: 0;

    // Add spacing in between each bar
    &:not(:last-child) {
      margin-right: 4px;
    }
  }



  &.filled {
    background-color: $primary-color;
  }
}


.milestone {
  // We have to use padding to space the milestones because margins don't play
  // nicely when printing from chrome.
  padding-top: 20px;
  //display: flex;
  page-break-inside: avoid;

  &:first-of-type {
    padding-top: 0;
  }
}

.milestone-logo {
  margin-right: 10px;
  //margin-top: 6px;
  width: 40px;
  height: 40px;
  text-align: center;

  img {
    height: 100%;
  }
}

.milestone-title {
  @include h2();
  //display: inline-block;
  margin-bottom: 2px;
}

.milestone-company {
  @include h3();
  display: inline-block;
  //padding-left: 5px;

  //&::before {
  //  content: "-";
  //  padding-right: 5px;
  //}
}

.milestone-date {
  display: inline-block;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;

  @media print {
    font-size: 12px;
  }
}

.milestone-link-icon {
  margin-right: 3px;

  > svg {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-top: -2px;

    @media print {
      height: 12px;
      width: 12px;
    }
  }
}

.milestone-technologies {
  margin-top: 4px;
  // Set font-size to zero to remove any space between tags
  font-size: 0;
}

.milestone-technology {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  padding: 4px 8px 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  white-space: nowrap;

  @media print {
    font-size: 9px;
    padding: 2px 6px 2px;
  }
}

.milestone-notes {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.milestone-note {
  margin-top: 5px;
}


.reference {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }
}

.reference-logo img {
  width: 40px;
  height: 40px;
}

.reference-name {
  @include h2();
}

.reference-phone {
  display: block;
}
