@import "variables.scss";


h1, h2, h3, h4, h5, h6 {
  @include header-font;
  margin: 0;
}

body {
  @include body-font;
  margin: 0;

}

p {
  margin-top: 0;
  margin-bottom: 5px;
}



a {
  color: $link-color;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $link-active-color;
    text-decoration: none;
  }
}

.material-icons {
  vertical-align: bottom;
}

a:hover + .material-icons {
  color: $link-active-color;
}

.full-width {
  max-width: 100%;
  max-height: 500px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
