@import "variables.scss";

header {
  padding: 25px 15px 35px;
  background-color: $primary-color;
}

.header-name, .header-subtitle {
  text-align: center;
  margin: 0;
}

.header-name {
  @include header-font();
  color: white;
  font-size: 48px;
}

.header-subtitle {
  @include header-font();
  color: rgba(255, 255, 255, 0.85);
  font-size: 22px;

  .dot {
    padding: 0 15px;
  }
}
