@import "variables.scss";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";


header {
  padding: 25px 15px 25px;
  background-color: $primary-color;
  color: white;

  @include media-breakpoint-up(sm) {
    padding-bottom: 35px;
  }

  a {
    color: white;
  }
}

.header-name, .header-subtitle {
  text-align: center;
  margin: 0;
}

.header-name {
  @include header-font();
  color: white;
  font-size: 38px;
  white-space: nowrap;

  @include media-breakpoint-up(sm) {
    font-size: 68px;
  }
}

.header-subtitle {
  @include header-font();
  color: rgba(255, 255, 255, 0.85);
  font-size: 20px;

  @include media-breakpoint-up(sm) {
    font-size: 22px;
  }

  .dot {
    padding: 0 15px;
  }
}


.contact-details {
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);

  @include media-breakpoint-up(sm) {
    margin-top: 30px;
  }

  a {
    color: rgba(255, 255, 255, 0.6);
  }

  svg {
    fill: rgba(255, 255, 255, 0.6);
  }
}

.detail {
  padding: 0 20px;
}

.detail-icon {
  margin-right: 3px;
}

.detail-icon > svg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-top: -2px;
}
