.project-page {
  .sidebar {

    .link {
      @include header-font;

      display: block;
      text-align: center;
      line-height: 45px;
      color: #666;

      &.current, &:hover {
        color: $link-active-color;
      }
    }
  }

  .project-information {
    #overview {
      visibility: hidden;
      height: 0;
      margin: 0;
      padding: 0;
    }
  }
}


h1 + .project-tabs {
  margin-top: -30px;
}
