$primary-color: #047aff;

@mixin body-font {
  font-family: Montserrat, helvetica, sans-serif;
  line-height: 1.2;
}

@mixin header-font {
  font-family: Kanit, helvetica, sans-serif;
  text-transform: uppercase;
}

@mixin h1 {
  @include header-font();
  font-size: 28px;
}

@mixin h2 {
  @include header-font();
  font-size: 18px;
}

@mixin h3 {
  @include body-font();
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
