$primary-color: #047aff;

@mixin body-font {
  font-family: Montserrat, helvetica, sans-serif;
  line-height: 1.2;

  @media print {
    font-size: 12px;
  }
}

@mixin header-font {
  font-family: Montserrat, helvetica, sans-serif;
  text-transform: uppercase;
}

@mixin h1 {
  @include header-font();
  font-size: 22px;

  @media print {
    font-size: 18px;
  }
}

@mixin h2 {
  @include header-font();
  font-size: 16px;

  @media print {
    font-size: 14px;
  }
}

@mixin h3 {
  @include body-font();
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);

  @media print {
    font-size: 12px;
  }
}
