<section id="about">
  <h1 class="section-header">About</h1>

  <p>
    Constant improvement is my approach to Software Development. I am always reviewing my own code
    and architecture to find better ways of doing things. They always say that a career as a
    developer is a commitment to lifelong learning and all that learning isn't very useful unless it
    is being applied to the projects that I am working on.
  </p>

  <p>
    At REA, I've spent time in the core search team, maintaining and improving the Elasticsearch
    clusters that perform every search to realestate.com.au, and in the security team where I was
    assessing the viability of a static code analysis tool. In between my contributions to normal
    delivery work I have been working on solutions to other company wide problems that I think I can
    improve. I built a pipeline to collect events from the services we use and store them in
    BigQuery so that we could aggregate metrics such as lead time for changes and mean time to
    restore service. Currently, I'm experimenting with the way we deploy our continuous integration
    agents, attempting to save a lot of money by moving them to a central ECS cluster with faster
    scaling and better caching.
  </p>

  <p>
    Outside of work, I like to tinker with code much like many developers. I've been experimenting
    with a React style frontend framework that has a more efficient rendering algorithm that
    utilises an index to map paths in a centralised state to parts of the DOM that are dependent on
    that state. This allows much faster re-renders as once you know what has changed in the state,
    updating the DOM is a simple matter of finding a key in an index. More recently I've been
    experimenting with developing my own functional programming language; mainly for the fun of it.
  </p>

  <p>
    Most of my experience has been in ops and backend focused roles and my primary language is
    Javascript using Node.js. I have spent a considerable amount of time with Scala and React as
    well.
  </p>
</section>
