<section id="about">
  <h1 class="section-header">About</h1>

  <p>
    I'm a Data Engineer with 5 years experience, currently living and working in Melbourne,
    Australia but open to relocation. Handling and serving data for high performance applications is
    what really interests me and I'm always looking for new technologies to explore.
  </p>

  <p>
    At REA Group, I'm building new data pipelines for business critical streaming datasets using
    Kafka and Flink. I'm helping the team design well architected services in Scala that encourage
    data correctness and safety and providing guidance to other teams who are just starting to use
    Kafka and Flink. At the same time, we're exploring new data custodianship techniques as a team
    such as schema powered APIs and in-depth data quality monitoring.
  </p>

  <p>
    Supporting and uplifting other team members is very important to me. I've helped onboard many
    developers of different skill levels, timezones and language backgrounds, and provided mentoring
    in our best-practices, all while working remotely. I also run the introduction to Elasticsearch
    training at REA which is becoming a lot more popular as teams begin to depend on Elasticsearch
    for more critical services.
  </p>

  <p>
    Outside of work, I love to tinker with code. Over the years I've created many experiments such
    as a fluent query builder for Neo4j's query language Cypher, or a library that
    automatically generates a GraphQL data access API for Elasticsearch. More recently, I've been
    attempting to write my own statically typed, functional programming language.
  </p>
</section>
