<section id="about">
  <h1 class="section-header">About</h1>

  <p>
    My approach when it comes to programming is constant improvement. I always
    review the application design, code, and user interface of the projects
    that I work with to see if they can be improved. Not just looking for ways
    to increase performance, but to also optimize the user experience by trying
    to remove confusing elements or improve workflows.
  </p>

  <p>
    In my current role, I have designed and developed front-end
    applications from the database level upwards using MySQL, Laravel and Vue. I
    also need to work on many projects that have been created by other developers
    both internal and external to the company. In addition, I have written a 
    review of modern agile methodologies and adapted them to work with our team's, 
    and our clients, immediate needs.
  </p>

  <p>
    I have extensive experience with Angular, Typescript and Node.js and have
    written a number of individual projects using these technologies. These
    projects include: an open source query builder for Neo4J, a SAAS product
    called Crystallize to help business and individuals organise themselves and
    I am prototyping a functional, asynchronous, compile-to-Javascript language
    that supports type hinting and lazy evaluation.
  </p>

  <p>
    In my spare time I have recently been investigating Haskell and functional
    programming in general and have found that many functional patterns can be
    carried over into the work that I normally do.
  </p>
</section>
