<div class="contact-details">
<!--  <span class="detail">-->
<!--    <span class="detail-icon">{% include svg/mail-icon.svg %}</span>-->
<!--    1st Dec 1995-->
<!--  </span>-->

<!--  <span class="detail">-->
<!--    <span class="detail-icon">{% include svg/mail-icon.svg %}</span>-->
<!--    He/Him-->
<!--  </span>-->

<!--  <span class="detail">-->
<!--    <span class="detail-icon">{% include svg/mail-icon.svg %}</span>-->
<!--    English (native), French (beginner)-->
<!--  </span>-->

  <span class="detail">
    <span class="detail-icon">{% include svg/mail-icon.svg %}</span>
    <a href="mailto:jamesferguson497@gmail.com">jamesferguson497@gmail.com</a>
  </span>

  <span class="detail">
    <span class="detail-icon">{% include svg/phone-icon.svg %}</span>
    +61 425 344 555
  </span>

<!--  <span class="detail">-->
<!--    <span class="detail-icon">{% include svg/link-icon.svg %}</span>-->
<!--    <a href="https://jamesfer.me">jamesfer.me</a>-->
<!--  </span>-->

  <span class="detail">
    <span class="detail-icon">{% include svg/github-icon.svg %}</span>
    <a href="https://github.com/jamesfer">jamesfer</a>
  </span>
</div>
