<section id="highlight">
  <h1 class="section-header">Experiments</h1>

  {% assign sortedHighlights = (site.highlights | sort: 'order') %}
  {% for highlight in sortedHighlights %}
    {% unless highlight.hide %}
      <div class="milestone">
        <div class="d-flex">
<!--          <div class="milestone-logo">-->
<!--            <img src="images/{{ highlight.logo }}" alt="{{ highlight.company | default: highlight.name }} logo">-->
<!--          </div>-->

          <div>
            <h2 class="milestone-title">{{ highlight.title }}</h2>

            {% if highlight.link %}
              <a href="{{ highlight.link }}" class="milestone-link">
                <span class="milestone-link-icon">{% include svg/github-icon.svg %}</span>

                {{ (highlight.link | remove_first: "http://") | remove_first: "https://" | remove_first: "github.com/" }}
              </a>
            {% endif %}

<!--            <div class="milestone-technologies">-->
<!--              {% for technology in highlight.technologies %}-->
<!--                <span class="milestone-technology">{{ technology }}</span>-->
<!--              {% endfor %}-->
<!--            </div>-->
          </div>
        </div>

        {% if highlight.notes %}
          <ul class="milestone-notes">
            {% for note in highlight.notes %}
              <li class="milestone-note">{{ note }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endunless %}
  {% endfor %}
</section>
