<section id="milestones">
  <h1 class="section-header">Milestones</h1>

  {% assign sortedMilestones = (site.milestones | sort: 'startDate') | reverse %}
  {% for milestone in sortedMilestones %}
    <div class="milestone">
      <img src="images/{{ milestone.logo }}" alt="{{ milestone.company }} logo" class="milestone-logo">

      <div>
        <span class="milestone-date">
          {{ milestone.startDate | date: '%B %Y' }}
          -
          {% if milestone.endDate %}
            {{ milestone.endDate | date: '%B %Y' }}
          {% else %}
            now
          {% endif %}
        </span>

        <h2 class="milestone-title">{{ milestone.title }}</h2>
        <h3 class="milestone-company">{{ milestone.company }}</h3>

        <div class="milestone-technologies">
          {% for technology in milestone.technologies %}
            <span class="milestone-technology">{{ technology }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</section>
