<section id="milestones">
  <h1 class="section-header">Milestones</h1>

  {% assign sortedMilestones = (site.milestones | sort: 'startDate') | reverse %}
  {% for milestone in sortedMilestones %}
    <div class="milestone">
      <img src="images/{{ milestone.logo }}" alt="{{ milestone.company }} logo" class="milestone-logo">

      <div>
        <span class="milestone-date">
          {% if milestone.endDate %}
            {% assign startYear = milestone.startDate | date: '%Y' %}
            {% assign endYear = milestone.endDate | date: '%Y' %}
            {% assign startMonth = milestone.startDate | date: '%B' %}
            {% assign endMonth = milestone.endDate | date: '%B' %}

            {% if startYear == endYear %}
              {{ startMonth }} - {{ endMonth }} {{ endYear }}
            {% else %}
              {{ startYear }} - {{ endYear }}
            {% endif %}
          {% else %}
            {{ milestone.startDate | date: '%Y' }} - now
          {% endif %}
        </span>

        <h2 class="milestone-title">{{ milestone.title }}</h2>
        <h3 class="milestone-company">{{ milestone.company }}</h3>

        <div class="milestone-technologies">
          {% for technology in milestone.technologies %}
            <span class="milestone-technology">{{ technology }}</span>
          {% endfor %}
        </div>

        {% if milestone.notes %}
          <ul class="milestone-notes">
            {% for note in milestone.notes %}
              <li class="milestone-note">{{ note }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>
