<section id="references">
  <h1 class="section-header">References</h1>

  {% assign orderedReferences = (site.references | sort: 'order') %}
  {% for reference in orderedReferences %}
    {% unless reference.hidden %}
      <div class="reference">
        <h2 class="reference-name">{{ reference.name }}</h2>
        <span class="reference-role">{{ reference.role }}</span>
        -
        <span class="reference-company">
          {% if reference.companyUrl %}
            <a href="{{ reference.companyUrl }}">{{ reference.company }}</a>
          {% else %}
            {{ reference.company }}
          {% endif %}
        </span>
        <span class="reference-phone">{{ reference.phone }}</span>
        <a href="mailto:{{ reference.email }}" class="reference-email">{{ reference.email }}</a>
      </div>
    {% endunless %}
  {% endfor %}
</section>
