<section id="skills">
  <h1 class="section-header">Skills</h1>

  {% assign sortedSkills = ((site.skills | reverse) | sort: 'level') | reverse %}
  {% for skill in sortedSkills %}
    <div class="skill">
      <img class="skill-icon" src="/images/{{ skill.icon }}">

      <div class="skill-details">
        <h2 class="skill-name">{{ skill.name }}</h2>

        <div class="skill-level">
          {% for i in (1..10) %}
            {% if i <= skill.level %}
              <div class="skill-level-bar filled"></div>
            {% else %}
              <div class="skill-level-bar"></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</section>
